<div class="panel panel-default">
  <div class="panel-heading">
    New Article
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br/><br/>
    <%= link_to 'Back', user_articles_path(@user.id) %>
  </div>
</div>
