<% flash.each do |key, value| %>
    <div class="alert alert-success"><%= value %></div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-body">

      <%if @user.articles.blank?%>
      <%else%>

      <%end%>
    </div>
  </div>
</div>
